/* VERSION AVEC UNITE FONT REM */
/* Définition des polices utilisées sur ce site */
@font-face{                                                    
    font-family: "Raleway-Regular"; 
    src: url("polices/Raleway-Regular.ttf") format("truetype");
    font-family: "Raleway-ExtraBold";
    src: url("polices/Raleway-ExtraBold.ttf") format("truetype");
    font-family: "Raleway-ExtraBoldItalic";
    src: url("polices/Raleway-ExtraBoldItalic.ttf") format("truetype");   
    font-family: "Raleway-Light";
    src: url("polices/Raleway-Light.ttf") format("truetype");
    font-family: "Raleway-VariableFont_wght";
    src: url("polices/Raleway-VariableFont_wght.ttf") format("truetype"); 
    font-family: "Raleway-Medium"; 
    src: url("polices/Raleway-Medium.ttf") format("truetype"); 
    font-family: "Raleway-ExtraLight"; 
    src: url("polices/Raleway-ExtraLight.ttf") format("truetype"); 
    font-family: "Raleway-Bold"; 
    src: url("polices/Raleway-Bold.ttf") format("truetype");                                                               /* police fournie en .ttf only */
}

/* Ci-dessous les caractéristiques communes à toute la page web */ 
body{
    font-family: "Raleway-Regular", Arial, Verdana, sans-serif; /* utilisation des polices sur la totalité de la page */
    font-weight: 100%; /* nota bene 100% = 16px  - Ailleurs mettre combien de rem - par ex: au lieu de 32px mettre 2rem */
}
    
/* Fermeture des caractéristiques communes à toute la page web */ 

/* Header */

.logo{
    margin-right: auto; /* permet de faire passer la marge droite du logo au max et donc pousser la nav tout à droite de la page */
}

header{
    display: flex;
    align-items: center;
}

header a{
    margin-right: 40px;
    text-decoration: none;
    padding: 20px 0px; /* padding pour monter la ligne au dessus de la nav quand hover */
    color:#0065FC;
}

.black{
    color: black
}

header a:hover{
    border-top: 1.5px solid #0065FC;
    font-weight: bold;
}
/* Fermeture Header */

/* Bloc Recherche */ 
.titre{
    margin-bottom: -20px;
}

.titre{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 30px;
}
.soustitre{
    font-size: 1.1rem;
    font-family: "Raleway-ExtraLight", Arial, Verdana, sans-serif;
    margin-top: 8px;
    margin-bottom: 20px;
    color:red;
}
.bloc_recherche{
    display: flex;
    align-items:center;
}

.marker{
    display: flex;
    background-color:#f2f2f2;
    justify-content: center; 
    align-items: center;
    width: 54.5px;
    height: 55px; 
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: 2rem;
}
.destination input[type="submit"] {
    color:white;
    background-color: #0065FC;
    width: 142px;
    height: 55px;
    font-weight: bold;
    border-style: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-family:"Raleway-ExtraLight", Arial, Verdana, sans-serif;
    font-size: 1.2rem;
    }

.destination input[type="search"] {
    background-color:none;
    width: 219px;
    height: 55px;
    font-size: 1em;
    font-weight: bold;
    border-style: solid;
    border-top-color: #F2F2F2;
    border-bottom-color: #F2F2F2;
    border-right: none;
    border-left: none;
    border-width: 0.7px;
    margin-left: 15px;
}
/* Fermeture Bloc Recherche */

/* Bloc Filtres */ 
.liste_filtres ul{
    display: flex;   
}
.liste_filtres .choix li{
    display: flex;
    list-style: none;
    text-decoration: none;
    padding-right: 40px;
    align-items: center;
}
.filtre_select{
    display: flex;
    font-size: 1.3rem;
    font-weight: bolder;
    margin-left: -35px;
}

.filtre{
    display: flex;
    align-items: center;
    border: #F2F2F2 solid 2px;
    height:45px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.filtre input + label {
    border: #DEEBFF solid 1px;
    background-color: #DEEBFF;
    display: inline-block;
    border-radius: 50%;
}

.filtre input:checked + label {
    background-color:#0065FC;
}

.filtre input:hover + label{
    background-color:#0065FC;
}

.filtre i:hover{
    color:white;   
}

.filtre input:checked + label i{
    color:white;
}
.filtre input{
    display: none;
}
.choix .familial{
    margin-left: 0px;
}

.choix .label {
    padding-right: 20px;
    padding-left: 6px;  
} 

.label{
    font-size: 1rem;
    font-family: "Raleway-Bold", Arial, Verdana, sans-serif; 
}
.choix i{
    display: flex;
    color: #0065FC;  
    width: 45px; 
    height: 45px;
    align-items: center;
    justify-content: center; 
    font-size: 1.3rem;
}

.filtre .bouton{
    margin-left: -2px;
}
/* Fermeture Bloc Filtres */

/* Bloc Info Disponibilités */
.info_dispo h6{
    display: flex;
    align-items: center;
    font-family: "Raleway-Bold", Arial, Verdana, sans-serif; 
    font-size: 1rem;
    color:red;
    font-weight: lighter;
 }

.info_dispo i{
    display: flex;
    color: #0065FC;
    border:#F2F2F2 solid 2px;
    width: 25px; 
    height: 25px;
    border-radius: 50%; 
    justify-content: center; 
    align-items: center;
    margin-bottom: 2px; 
    margin-right: 10px;
}
/* Fermeture Bloc Info Disponibilités*/

/* BLOC 1 - Partie Résultats*/
.allresults{
    min-width: 100%;
    display: flex;
    margin-right: 15px;
    flex-wrap: wrap-reverse;
}

/* BLOC 2-  Résultats Logements : Hébergements + Populaires */
.Resultats_Logements{
    min-width: 100%;
    display: flex;
    align-items: stretch; /* David 23/4: stretch pour avoir les 2 blocs Héberg et pop à la même hauteur  */   

}

.starrating{
    font-size: 1.1rem;
    margin-left: 10px;
    margin-top: -10px;
}
.blue {
    color: #0065FC; 
}
.grey{
    color:rgb(217,217,217);
}

/* BLOC 3 - Résultats Hébergements */
.headerblochebergements{
    width: 100%;
    font-weight: bolder ;
    font-size: 1.5rem;     
}
.footerblochebergements{
    font-size: 1.2rem; 
    font-weight: bold;
    padding-top: 30px;
    margin-bottom: 70px;
}

.Hebergements{
    width: 67%;
    height: auto;
    background-color:#F2F2F2;
    padding-left: 30px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 12px;
}


    
/* BLOC Hébergements de H1 à H6*/
.BlocHebergement{
    background-color: white;
    width: 370px;
    height: 300px;
    border-radius: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px grey;
    padding: 3px;
    text-decoration: none;
    color: black;
}

.Hebergements a{   /* marge entre les blocs H1 à H6*/
    margin: 10px;
}
.Htext1{
    font-family: "Raleway-ExtraBold", Arial, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 1.5rem;
    margin-left: 10px;
    margin-bottom: -10px;
    margin-top: 10px;
 }
.Htext2{
    font-family:"Raleway-Medium", Arial, Verdana, sans-serif;
    font-size: 1.4rem;
    margin-left: 10px;
    
}
/* Photo Hébergements*/
.photoH{
    width: 98%;
    height: 58%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 3px;
    object-fit: cover;
}
/* Fermeture BLOC Hébergement  */
/* Fermeture BLOC 3 - Résultats Hébergements */

/* BLOC 4: Résultats Populaires*/

.headerblocpopulaires{
    width: 100%;
    font-weight: bolder ;
    font-size: 1.5rem; 
    margin-left: 15px;
    display: flex; 
    margin-bottom: -60px;
    margin-top: -8px;    
}
.headerblocpopulaires i{
    margin-left: 300px;
    color:black;
}
.fa-chart-line{
    font-size: 2rem;
}
.populaires{
    width: 33%;
    height: auto;
    background-color: #F2F2F2;
    border-radius: 15px;
    padding-left: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 20px; 
}

.BlocPopulaire{
    background-color: white;
    width: 520px;
    height: 220px;
    border-radius: 20px;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 0px 0px 5px grey;
    text-decoration: none;
    color: black;
}
.BlocPopulaire .fas{
    margin-top: 70px;
}
.cartepopulaire{
    width: 50%
}
.photoP{
    width: 35%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;  
}
 .starratingP{
margin-left: 15px;
 }

/* Fermeture BLOC 4 - Résultats Populaires*/
/* Fermeture BLOC 2-  Résultats Logements */


/* BLOC 5 - Activités */
.blocactivites h3{
    width: 100%;
}

.blocactivites{
    display: grid;
    grid-template-columns: repeat(4, 23%);
    grid-template-rows: repeat(10, 30px);
    grid-gap: 40px;
}

.blocactivites .Activite{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0px 0px 5px grey;
    overflow: hidden;
    text-decoration: none;
    color: black;
} 

.A1 img{
    height: 86%;
    width:auto;
    object-fit: cover;
    overflow: hidden;

}

.A2 img{
    height: 75%;
    width:auto;
    object-fit: cover;
    overflow: hidden;

}

.A3 img{
    height: 63%;
    width:auto;
    object-fit: cover;
    overflow: hidden;

}

.A4 img{
    height: 86%;
    width:auto;
    object-fit: cover;
    overflow: hidden;

}
.A5 img{
    height: 70%;
    width:auto;
    object-fit: cover;
    overflow: hidden;
    
}
.A6 img{
    height: 70%;
    width:auto;
    object-fit: cover;
    overflow: hidden;

}
/* Cartes Activité A1 à A6 */

.A1{
    grid-column: 1;
    grid-row: 1/11;
}

.A2{
    grid-column: 2;
    grid-row: 1/7;
}

.A3{
    grid-column: 2;
    grid-row: 7/11
}

.A4{
    grid-column: 3;
    grid-row: 1/11;
}

.A5{
    grid-column: 4;
    grid-row: 1/6;
}

.A6{
    grid-column: 4;
    grid-row: 6/11;
}

.textA{
    font-size: 1.5rem;
    font-weight: bolder;
    padding-left: 15px;
}
/* Fermeture BLOC 5 - Activités */
/* Fermeture BLOC 1 - Résultats */


/* Footer */
.footer_site_reservia{
    display: flex;
    font-family: "Raleway-Regular", Arial, Verdana, sans-serif;
    font-size: 1rem;
    color:black;
    list-style-type: none;
    background-color: #F2F2F2; 
    margin-top: 40px;   
}

.footer_site_reservia ul {
    padding-left: 0px;
    margin-bottom: 2px;
    margin-top: 20px;
    line-height: 35px;   
}

.footer_site_reservia li {
    list-style: none;
    text-decoration:none;
    line-height: 30px;  
}

.footer_site_reservia a{
    text-decoration: none;
    color: red; 
    font-family: "Raleway-Light", Arial, Verdana, sans-serif;   
}
.A_propos{
    width: 33.33%;
    margin-top: 15px;
    margin-left: 12px;;
}
.A_propos h5{
    font-weight: bold;
    font-size: 1rem;
}
.Nos_hébergements{
    width: 33.33%;
    margin-top: 15px;
}
.Nos_hébergements h5{
    font-weight: bold;
    font-size: 1rem;    
}
.Assistance{
    width: 33.33%;
    margin-top: 15px;
}
.Assistance h5{
    font-weight: bold;
    font-size: 1rem;    
}
/* Fermeture Footer*/

/* @Media queries à mettre tout à la fin du code*/

@media only screen and (max-width:768px){
    header{
        flex-wrap: wrap;
    }
    
    header a{ 
    width: 50%;
    margin: 0;
    }
    .navinscrire{
        order: -1;
        display: flex;
        justify-content: flex-end;
        color: #0065FC;
    }
    
    .logo{
        order: -2;
    }
    .navhebergements, .navactivites{
        display: flex;
        justify-content: center;
    
    }
    
    .navhebergements, .navactivites {
        border-bottom: 3px solid #F2F2F2;
    }
    .navhebergements:hover, .navactivites:hover {
        border-bottom: 3px solid #0065FC;
    }
    
    header a:hover{
        border-top: none;
    }
    }

