/*List of fonts used in this web page*/
@font-face{                                                    
    font-family: "Raleway-Regular"; 
    src: url("polices/Raleway-Regular.ttf") format("truetype");
}
@font-face{ 
    font-family: "Raleway-ExtraBold";
    src: url("polices/Raleway-ExtraBold.ttf") format("truetype");
}
@font-face{
    font-family: "Raleway-ExtraBoldItalic";
    src: url("polices/Raleway-ExtraBoldItalic.ttf") format("truetype");
}
@font-face{  
    font-family: "Raleway-Light";
    src: url("polices/Raleway-Light.ttf") format("truetype");
}
@font-face{
    font-family: "Raleway-VariableFont_wght";
    src: url("polices/Raleway-VariableFont_wght.ttf") format("truetype"); 
}
@font-face{
    font-family: "Raleway-Medium"; 
    src: url("polices/Raleway-Medium.ttf") format("truetype"); 
}
@font-face{
    font-family: "Raleway-ExtraLight"; 
    src: url("polices/Raleway-ExtraLight.ttf") format("truetype");
}
@font-face{ 
    font-family: "Raleway-Bold"; 
    src: url("polices/Raleway-Bold.ttf") format("truetype");                                                               /* police fournie en .ttf only */
}

/*Ci-dessous les caractéristiques communes à toute la page web*/ 
body{
    font-family: "Raleway-Regular", Arial, Verdana, sans-serif; /* utilisation des polices sur la totalité de la page */
    font-size: 100%; /* nota bene 100% = 16px  - Ailleurs mettre combien de rem - par ex au lieu de 32px mettre 2rem */
}
    
/* Fermeture des caractéristiques communes à toute la page web */ 

/* Header */

.logo{
    margin-right: auto; /* permet de faire passer la marge droite du logo au max et donc pousser la nav tout à droite de la page */
    width: 120px;
}

header{
    display: flex;
    align-items: center;
}

header a{
    margin-right: 20px;
    text-decoration: none;
    padding: 20px 0px; /* padding pour monter la ligne au dessus de la nav quand hover */
    color:#0065FC;
    font-size: 1.2rem;
}

.black{
    color: black
}

header a:hover{
    border-top: 2.5px solid #0065FC;
    font-weight: bold;
}

.navhebergements{
    width: 190px;
    display: flex;
    justify-content: center;
}

.navactivites{
    width: 190px;
    display: flex;
    justify-content: center;
}

.navinscrire{
    width: 190px;
    display: flex;
    justify-content: center;
}
/* end of Header */

/* Search Bar */ 
.title{
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: -20px;   
}
.subtitle{
    font-size: 1.3rem;
    font-family: "Raleway-ExtraLight", Arial, Verdana, sans-serif;
    margin-top: 8px;
    margin-bottom: 20px;
}

.bloc_recherche{
    display: flex;  
    flex-direction: row; 
    align-items: stretch;
    justify-content: flex-start;   
    margin-top: 45px;      
    margin-bottom: 45px;   
}

.marker{
    display: flex;   
    background-color:#F2F2F2;
    justify-content: center; 
    align-items: center;
    width: 65px;
    min-width: 30px;
    height: 60px; 
    border-radius: 20px 0 0 20px;
    font-size: 1.7rem;
}

.inputplace{
    width: 300px;
    height: 60px;
    padding-left: 15px;
    font-family:"Raleway-Bold", Arial, Verdana, sans-serif;
    font-size: 1.2rem;
    font-weight: bolder;
    border: none;
    border-top: solid #F2F2F2 1px;
    border-bottom: solid #F2F2F2 1px;
}

.submit {
    display:block;
    background-color:#0065FC;
    color: white;
    cursor: pointer; 
    border:none;
    width: 170px;
    min-width: 50px;
    height:60px;
    font-size: 1.2rem;
    
    padding-left: 15px;
    border-radius: 0 20px 20px 0;
}

#searchicon{
    display: none;
}
/* Fermeture Bloc Recherche */

/* Bloc Filtres */ 
.liste_filtres ul{
    display: flex; 
    flex-direction: row;  
}
.liste_filtres .choix li{ /*gestion du bloc liste filtres (dots out etc*/
    display: flex;
    list-style: none;
    text-decoration: none;
    padding-right: 40px;
    align-items: center;
}
.filtre_title{
    display: flex;
    font-size: 1.2rem;
    font-weight: bolder;
    margin-left: -35px;
    font-family: "Raleway-Bold", Arial, Verdana, sans-serif;
}

.filtre{ /*label*/
    display: flex;
    align-items: center;
    border: #F2F2F2 solid 2px;
    height:40px;
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.filtre input + label { /*pour avoir icon on top of label*/
    
    background-color: #DEEBFF;
    display: inline-block;
    border-radius: 50%;
}

.filtre input:checked + label, .filtre input:hover + label{
    background-color:#0065FC;
}

.filtre i:hover, .filtre input:checked + label i{
    color:white;   
}

.filtre input{ /*permet d'avoir check box & icon l'un sur l'autre*/
    display: none;
}

.choix .label { /*donne de l'espace au texte dans l'étiquette*/
    padding-right: 10px;
    padding-left: 20px;  
    margin-right: 20px;
} 

.label{
    font-size: 1.2rem;
    font-family: "Raleway-Bold", Arial, Verdana, sans-serif;
}
.choix i{
    display: flex;
    color: #0065FC;  
    width: 43px; 
    height: 43px;
    align-items: center;
    justify-content: center; 
    font-size: 1rem;
}

.filtre .bouton{
    margin-left: -3px;
}
/* Fermeture Bloc Filtres */

/* Bloc Info Disponibilités */
.info_dispo h6{
    display: flex;
    align-items: center;
    font-family: "Raleway-ExtraLight", Arial, Verdana, sans-serif; 
    font-size: 1rem;
 }

.info_dispo i{
    display: flex;
    color: #0065FC;
    border:#F2F2F2 solid 2px;
    width: 25px; 
    height: 25px;
    border-radius: 50%; 
    justify-content: center; 
    align-items: center;
    margin-bottom: 2px; 
    margin-right: 10px;
}
/* Fermeture Bloc Info Disponibilités*/

/* Résultats Logements : Bloc Hébergements + Bloc Populaires */
.resultatslogements{
    min-width: 100%;
    display: flex;
    align-items: stretch; /*pour avoir les 2 blocs Héberg et pop à la même hauteur  */   
    flex-wrap: wrap-reverse;
    justify-content: space-between;
}

.resultatslogements a{    /*valid for all H & P cards*/
    text-decoration: none;
    color:black;
}

/*Résultats Hébergements à Marseille*/
.resultatshebergements{
    width: 64%;
    min-width: 200px;
    height: auto;
    min-height: 650px;
    background-color: #F2F2F2;
    border-radius: 25px;
    margin-right: 30px; /*remplaces justify content on resultats_logements with gap too big*/
}
.headerblochebergements{
    width: auto;
    font-family:"Raleway-Bold", Arial, Verdana, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    padding-left: 20px;  
}

#hebergements{
    width: 100%;
    min-height: 690px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}
  
/* BLOC Hébergements de H1 à H6*/
.BlocHebergement{
    background-color: white;
    width: 30%;
    height: 260px;
    border-radius: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px grey;
    padding: 3px;  /*pour bordure photo*/
}

.Htext1{
    font-family: "Raleway-ExtraBold", Arial, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 1.4rem;
    margin-left: 10px;
    margin-bottom: -10px;
    margin-top: 10px;
 }
.Htext2{
    font-family:"Raleway-Medium", Arial, Verdana, sans-serif;
    font-size: 1.1rem;
    margin-left: 10px;
    
}
/* Photo Hébergements*/
.photoH{
    width: 98%;
    height: 62%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 3px;
    object-fit: cover;
}

.starratingH{
    font-size: 1rem;
    margin-left: 10px;
    margin-top: -10px;
}
.blue {
    color: #0065FC; 
}
.grey{
    color:rgb(217,217,217);
}

.footerblochebergements{
    font-size: 1.5rem; 
    font-weight: bold;
    padding-left: 40px;
    padding-bottom: 30px;    
}
/* Fermeture BLOC Hébergement  */
/* Fermeture BLOC Résultats Hébergements */

/* Bloc Résultats Populaires*/
.resultatspopulaires{
    width: 33%;
    min-width: 200px;
    height: auto;
    background-color: #F2F2F2;
    border-radius: 22px;
    padding-left: 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.headerblocpopulaires{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.headerblocpopulaires h3{
    font-family:"Raleway-Bold", Arial, Verdana, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    padding-left: 20px;
}

.headerblocpopulaires i{
    /*margin left 300px deleted to avoid icon to get out of frame in responsive*/
    color:black;
    font-size: 2rem;
}

#populaires{
    height: 100%; /*to allow div to take max space in the block and allow margin-top to move P cards down*/
    margin-top: 55px; /*to get P card aligned with H cards*/
}

.BlocPopulaire{
    background-color: white;
    width: 80%;        /*div parent a une min width de 200px donc la card fera au mini 180px*/
    height: 200px;
    border-radius: 20px;
    margin: 0 auto;
    padding: 6px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 0px 0px 5px grey;
    margin-left: 55px;
    margin-bottom: 40px;
}
.Ptext1{
    font-family: "Raleway-ExtraBold", Arial, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 1.4rem;
    margin-left: 10px;
    margin-bottom: -10px;
    margin-top: 10px;
 }
.Ptext2{
    font-family:"Raleway-Medium", Arial, Verdana, sans-serif;
    font-size: 1.1rem;
    margin-left: 10px;
}
.cartepopulaire{
    width: 50%;
    display: flex;
    flex-direction: column;   
}

.photoP{
    width: 39%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;  
}
 .starratingP{
    margin-left: 15px;
    margin-top: 20%;
    
}
/* Fermeture BLOC Résultats Populaires*/
/* Fermeture BLOC Résultats Logements */

/* BLOC Activités */

#marseille{
    font-family:"Raleway-Bold", Arial, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1.7rem;
    margin-left: 20px;
}
.blocactivites h3{
    width: 100%;
}

.blocactivites{
    display: grid;
    grid-template-columns: repeat(4, 23%);
    grid-template-rows: repeat(10, 28px);
    grid-gap: 40px;
    margin-left: 20px;
}

.blocactivites .Activite{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0px 0px 5px grey;
    overflow: hidden;
    text-decoration: none;
    color: black;
} 

.A1 img{
    height: 86%;
    width:auto;
    object-fit: cover;
    overflow: hidden;

}

.A2 img{
    height: 75%;
    width:auto;
    object-fit: cover;
    overflow: hidden;
}

.A3 img{
    height: 63%;
    width:auto;
    object-fit: cover;
    overflow: hidden;
}

.A4 img{
    height: 86%;
    width:auto;
    object-fit: cover;
    overflow: hidden;
}

.A5 img{
    height: 70%;
    width:auto;
    object-fit: cover;
    overflow: hidden;
}

.A6 img{
    height: 70%;
    width:auto;
    object-fit: cover;
    overflow: hidden;
}

/* Cartes Activité A1 à A6 */

.A1{
    grid-column: 1;
    grid-row: 1/11;
}

.A2{
    grid-column: 2;
    grid-row: 1/7;
}

.A3{
    grid-column: 2;
    grid-row: 7/11
}

.A4{
    grid-column: 3;
    grid-row: 1/11;
}

.A5{
    grid-column: 4;
    grid-row: 1/6;
}

.A6{
    grid-column: 4;
    grid-row: 6/11;
}

.textA{
    font-size: 1.3rem;
    font-weight: bolder;
    padding-left: 15px;
    padding-top: 20px;
}
/* Fermeture BLOC 5 - Activités */

/* Footer */

.footer_site_reservia{ /*titres menu*/
    display: flex;
    font-family: "Raleway-Bold", Arial, Verdana, sans-serif;
    font-size: 1.2rem;
    color:black;
    list-style-type: none;
    background-color: #F2F2F2; 
    margin-top: 40px;   
}

.footer_site_reservia ul {
    padding-left: 0px; /*to have menu in left line with its title*/
    margin-bottom: 2px;
    margin-top: 20px;
}

.footer_site_reservia li {
    list-style: none;
    text-decoration:none;
    line-height: 25px;  
}

a{
    text-decoration: none;
    color: Black; 
    font-family: "Raleway-Regular", Arial, Verdana, sans-serif;   
}
.A_propos{
    width: 33.33%;
    margin-top: 15px;
    margin-left: 20px;
}
.A_propos h5{
    font-weight: bold;
    font-size: 1.2rem;
}
.Nos_hébergements{
    width: 33.33%;
    margin-top: 15px;
}
.Nos_hébergements h5{
    font-weight: bold;
    font-size: 1.2rem;    
}
.Assistance{
    width: 33.33%;
    margin-top: 15px;
}
.Assistance h5{
    font-weight: bold;
    font-size: 1.2rem;    
}
/* Fermeture Footer*/



/* @Media queries to be kept at the very end of CSS code*/
/*down to 1595px, normal visual*/

@media only screen and (max-width:1590px){  

    .resultatspopulaires{
        width: 100%;
    }

    #populaires{
        display: flex;
        flex-direction: row;
        width:100%;
    }

    .BlocPopulaire{
        width: 80%;        /*div parent a une min width de 200px donc la card fera au mini 180px*/
        height: 250px;
        margin:25px;
    }

     .starratingP{
        margin-left: 15px;
        margin-top: 30%;
    }       

    .resultatshebergements{
        width: 100%;
        margin-top: 20px;
        margin-right: 0;  
    }
    
    .BlocHebergement{
        width: 30%;
        height:250px;
    }
}

@media only screen and (max-width:1090px){

    /* Activités */
    .blocactivites{
       display: grid;
       grid-template-columns: repeat(3, 30%);
       grid-template-rows: repeat(2, 250px);
       grid-gap: 40px;
       margin-left: 20px;
   }
   
   #marseille{
       margin-left: 20px;
   }
   .A1 img{
       height: 120%;
       width:auto;
       object-fit: cover;
       overflow: hidden;
   }
   
   .A2 img{
       height: 75%;
       width:auto;
       object-fit: cover;
       overflow: hidden;
   }
   
   .A3 img{
       height: 75%;
       width:auto;
       object-fit: cover;
       overflow: hidden;
   }
   
   .A4 img{
       height: 75%;
       width:auto;
       object-fit: cover;
       overflow: hidden;
   }
   .A5 img{
       height: 75%;
       width:auto;
       object-fit: cover;
       overflow: hidden;
   }
   .A6 img{
       height: 75%;
       width:auto;
       object-fit: cover;
       overflow: hidden;
   }

   /* Cartes Activité A1 à A6 */
   
   .A1{
       grid-column: 1;
       grid-row: 1;
   }
   
   .A2{
       grid-column: 2;
       grid-row: 1;
   }
   
   .A3{
       grid-column: 3;
       grid-row: 1;
   }
   
   .A4{
       grid-column: 1;
       grid-row: 2;
   }
   
   .A5{
       grid-column: 2;
       grid-row: 2;
   }
   
   .A6{
       grid-column: 3;
       grid-row: 2;
   }
   
   .textA{
       font-size: 1.3rem;
   }  
}

@media only screen and (max-width:950px){ 
    
    #populaires{ /*P cards from row to column*/
        display:flex;
        flex-direction: column;
        align-items: center;   
    }
        
    .BlocPopulaire{
        width: 90%;        /*div parent a une min width de 200px donc la card fera au mini 180px*/    
    }
      
    .resultatshebergements{
        background-color: transparent;
        width: 100%;
        display:flex;
        flex-direction: column;
    }
    #hebergements{
        width: 100%;
    }

    .BlocHebergement{
        margin-bottom: 50px;
        width: 90%;
    }

    .headerblochebergements{
        margin-bottom: 80px;
    }

    .photoH{
        width: 99%;       
    }
}

@media only screen and (max-width:768px){

    header{
        display: flex;
        flex-wrap: wrap;
    }

    header a{
        margin-right: 0;
        width: 50%; 
    }
            
    .navinscrire{
        order: -1;
        display: flex;
        justify-content: flex-end;
        color: #0065FC;       
    }

    .logo{
        order: -2;
    }

    .navhebergements{
        width:50%;
        display: flex;
        justify-content: center;
    }
    
    .navactivites{
        width: 50%;
        display: flex;
        justify-content: center;
    }

/*Navigation Bar*/
    .navhebergements, .navactivites{
        display: flex;
        justify-content: center;
    }

    .navhebergements, .navactivites {
        border-bottom: 3px solid #F2F2F2;
    }
    .navhebergements:hover, .navactivites:hover {
        border-bottom: 3px solid #0065FC;
    }

    header a:hover{
        border-top: none;
    }

/*Search Bar*/
    #searchicon{
        display: block;
        width: 60px;
        background-color:#0065FC;
        color: white;
        cursor: pointer; 
        border:none;
        border-radius: 15px;
    }
    .submit {
        display:none;
    }

/*Filters*/
    .liste_filtres ul{
        display: flex;
        justify-content: space-between; 
        flex-wrap: wrap;  
    }

/* Activités */
 .blocactivites{
    display: grid;
    grid-template-columns: 97%;
    grid-template-rows: repeat(6, 300px);
    grid-gap: 40px;  
}

.A1 img{
    height: 75%;
    width:auto;
    object-fit: cover;
    overflow: hidden;
}

.A2 img{
    height: 75%;
    width:auto;
    object-fit: cover;
    overflow: hidden;
}

.A3 img{
    height: 75%;
    width:auto;
    object-fit: cover;
    overflow: hidden;
}

.A4 img{
    height: 75%;
    width:auto;
    object-fit: cover;
    overflow: hidden;
}
.A5 img{
    height: 75%;
    width:auto;
    object-fit: cover;
    overflow: hidden;
}
.A6 img{
    height: 100%;
    width:auto;
    object-fit: cover;
    overflow: hidden;
}
/* Cartes Activité A1 à A6 */

.A1{
    grid-column: 1;
    grid-row: 1;
}

.A2{
    grid-column: 1;
    grid-row: 2;
}

.A3{
    grid-column: 1;
    grid-row: 3;
}

.A4{
    grid-column: 1;
    grid-row: 4;
}

.A5{
    grid-column: 1;
    grid-row: 5;
}

.A6{
    grid-column: 1;
    grid-row: 6;
}

.textA{
    font-size: 1.3rem;
    font-weight: bolder;
    padding-left: 15px;
}  

/* Footer */
.footer_site_reservia{ /*titres menu*/
    display: flex;
    flex-direction: column;   
}

.A_propos{
    width: inherit;
    margin-top: 15px;
    margin-left: 50px;
}

.Nos_hébergements{
    width: inherit;
    margin-top: 15px;
    margin-left: 50px;
}

.Assistance{
    width: inherit;
    margin-top: 15px;
    margin-left: 50px;
}
}

    
