/* Définition de la police utilisée sur ce site */
@font-face{                                                    
    font-family: "Raleway-Regular";
    src: url("polices/Raleway-Regular.ttf") format("truetype"); /* police fournie en .ttf only */
}

/* Ci-dessous les caractéristiques communes à toute la page web */ 
#bloc_page{
    font-family: "Raleway-Regular", Arial, Verdana, sans-serif; /* utilisation des polices sur la totalité de la page */
}

ul{
    padding-left: 0px;
    margin-bottom: 2px;
    margin-top: 20px;
    line-height: 35px;
}

li{
    list-style: none;
    text-decoration:none;
    line-height: 15px;    
}
/* Fermeture des caractéristiques communes à toute la page web */ 

/* Header */
header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

/* Logo */
#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

/* Navigation Menu - CLOSED ON 11/04/2021 */
nav ul{
    list-style-type: none;
    display: flex;
}
nav li{
    margin-right:10px;
}
nav a{
    font-size: 0.8em;
    color:#0065FC;
    padding-bottom: 15px;
    text-decoration: none;
}
.black{
    color: black
}
nav a:hover{
    border-top: 1.5px solid #0065FC;
    padding-top: 50px;
    background-color: #FFFFFF;
    font-weight: bold;
}
/* Navigation Menu - CLOSED ON 11/04/2021 */

/* Bloc Recherche */ 

.bloc_recherche{
    display: flex;
    align-items:center;
}


.marker{
    display: flex;
    background-color:#f2f2f2;
    justify-content: center; 
    align-items: center;
    width: 36.3px;
    height: 34.7px; 
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
.destination input[type="submit"] {
    color:white;
    background-color: #0065FC;
    width: 94.75px;
    height: 34.7px;
    font-size: 0.8em;
    border-style: none;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    
}

.destination input[type="search"] {
    background-color:none;
    width: 168.95px;
    height: 34.7px;
    font-size: 0.8em;
    font-weight: bold;
    border-style: solid;
    border-top-color: #F2F2F2;
    border-bottom-color: #F2F2F2;
    border-right: none;
    border-left: none;
    border-width: 0.7px;
}




/* Bloc Filtres */ 
.liste_filtres{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.liste_filtres{
    margin: 0px ;
}

.liste_filtres{
    font-size: 0.8em;
    color:black;
    padding-bottom: 15px;
}
/* FIN Filtres */ /* A REVOIR */

/* Icons Filtres */
.fa-circle{
    color:#DEEBFF;
}
.fa-child{
    color: #0065FC;
}
.fa-money-bill-wave{
    color: #0065FC;
}
.fa-dog{
    color: #0065FC;
}
.fa-heart{
    color: #0065FC;
}
.fa-star{
    color: #0065FC;
}
.fa-chart-line{
    color: black
}

/* Bloc Résulats */
.Résultats{
    display: flex;
}
/* Bloc Hébergements à */
.Hébergements{
    background-color:turquoise;
    width: 66%;
}
/* Fermeture Bloc Hébergements à */

/* Bloc Les plus populaires */
.Populaires{
    background-color: yellow;
    width: 33%;
/* Fermeture Bloc Les plus populaires */
}
/* Bloc Activités */
.Activités{
    background-color:darksalmon;
    width: 100%;
}
/* Fermeture Bloc Activités */

/* Footer - CLOSED ON 11/04/2021 */

.footer_site_reservia{
    display: flex;
    font-size: 0.8em;
    color:black;
    list-style-type: none;
    background-color: #ECEDEF;
}

a{
    text-decoration: none;
    color: black;
}
.A_propos{
    background-color: #F2F2F2;
    width: 33.33%;
}
.Nos_hébergements{
    background-color: #F2F2F2;
    width: 33.33%;
}
.Assistance{
    background-color: #F2F2F2;
    width: 33.33%;
}
/* Fermeture Footer - CLOSED ON 11/04/2021*/

.courage{                   /* A SUPPRIMER */                    
    font-weight: bold;      /* A SUPPRIMER */
    color: red;           /* A SUPPRIMER */
    font-size: 20px;        /* A SUPPRIMER */
}


